.h6 {
  margin-top: 3rem;
}

.player {
  color: black;
  font-size: 15rem;
  transition: 250ms;
  margin: 1.5rem 0;
}

.player:hover {
  font-size: 15.5rem;
}

.songInfo {
  margin-top: 1rem;
  text-align: center;
}

.songInfo p {
  margin: 0;
}

.songInfo p:last-of-type {
  font-size: 0.9em;
  margin-top: 0.2rem;
  font-style: italic;
}
