.h6 {
  margin-top: 3rem;
}

.container {
  bottom: 0;
  width: 100%;
  display: flex;  
  padding: 0.5rem 0;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  position: fixed !important;
  border-top: 1px solid white;
  border-bottom: 1px solid black;
}

.songAlbum {
  padding: 0 1rem;
  border-right: 1px solid white;
}

.songAlbum img {
  height: 4rem;
  border-radius: 5%;
}

.innerPlayer {
  display: flex;
  flex-direction: row;  
  align-items: center;
  padding: 0 0 0 1.5rem;
}

.player {
  color: white;
  font-size: 3.25rem;
  transition: 350ms;    
}

.player:hover,
.volumeIcon:hover {
  color: #55975a;
}

.songInfoContainer {    
  height: 100%;
  display: flex;
  color: white;
  padding: 0 2rem 0 1rem;
  flex-direction: column;  
  justify-content: center;
  border-right: 1px solid white;
}

.controls {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.volumeContainer {
  display: flex;
}

.volumeIcon {
  margin: 0 4px;
  color: white;
  font-size: 1.5rem;
}

.slider {
  width: 6rem;
  height: 3px;
  margin: 0 4px;
}